{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
  <h1>Utilisateur</h1>

  <table>
    <tbody>
      <tr>
        <th>Identifiant</th>
        <td>{{ user.id }}</td>
      </tr>

      <tr>
        <th>Nom</th>
        <td>{{ user.nameUser }}</td>
      </tr>

      <tr>
        <th>Prénom</th>
        <td>{{ user.firstnameUser }}</td>
      </tr>

      <tr>
        <th>Email</th>
        <td>{{ user.emailUser }}</td>
      </tr>

      <tr>
        <th>Créé le</th>
        <td>
          {% if user.createdAt %}
            {{ user.createdAt|date('d/m/Y H:i') }}
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <a href="{{ path('user_list') }}">Retour aux utilisateurs</a>
  </p>
{% endblock %}
